/* table, th, td {
  border: 1px solid black;
  padding: 10px;
} */



.button {
  border-width: 1;
  border-color: 'black';
  width: 400;
  height: 200;
  background-color: 'gray';
  border-radius: 25px;
  margin: 30;
}

.button:hover {
  background-color: 'black';
  border-color: 'gray';
  cursor: pointer;
  color: 'gray';
}

.button:focus {
  outline: none;
}
/* table {
  border-collapse: collapse;
} */
